<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset = "UTF-8"/>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=Edge"/>
    
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" media="all" href="style.css" type="text/css"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    
    <!-- Bootstrap -->
    <!-- CSS only -->
    
    <!-- AmCharts Scripts -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    
  </head>
  <body>
    <h2>
      <%=display%>
    </h1>
    <button>
      Events Display
    </button>
    <div id ="eventsChartArea">
      <h3>
        Daily Events
      </h3>
      <div id="eventsDaily"></div>
    </div>
  </body>
  <script type="text/javascript" src="events.js"></script>
</html>